export CORE_SERVICE_HOST=0.0.0.0
export CORE_SERVICE_PORT=50051
export READ_SERVICE_HOST=0.0.0.0
export READ_SERVICE_PORT=8081

export CORE_SERVICE_URL=http://0.0.0.0:50051
export READ_SERVICE_URL=http://0.0.0.0:8081